body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Source Sans Pro', 'Yanone Kaffeesatz', sans-serif;
  background-color: #f2f2f2;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

/* body {
  background: url(https://st.depositphotos.com/1532470/2276/i/600/depositphotos_22760672-stock-photo-city-of-st-louis-skyline.jpg) center center no-repeat;
  background-size: cover;
} */


.featured {
  border: solid 2px;
  padding: 10px 20px;
  margin: 20px 10% 20px 10%;
  border-radius: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#featuredText {
  display: flex;
  flex-direction: column;
}
#featuredImage {
  max-height: 250px;
  max-width: 200px;
  min-height: 125px;
  min-width: 100px;
  margin: auto;
}
.designsHeader {
  text-align: center;
}



#jumbotron {
  background-image: url(https://img.freepik.com/free-vector/modern-flowing-blue-wave-banner-white-background_1035-18960.jpg?size=626&ext=jpg&ga=GA1.2.2133457344.1682730542&semt=ais);
  background-size: cover;
}


#aboutFounders {
  size: relative;
  max-height: 400px;
  max-width: 270px;
  min-height: 150px;
  min-width: 100px;
}
.about {
  margin-left: 5%;
  margin-right: 5%;
}
.aboutUs {
  margin: 10% 10% 10% 10%;
}
.aboutPath {
  display: flex;
  text-align: center;
  column-gap: 40px;
}
.column {
  flex: 50%;
}


form {
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;

}
form > * {
  margin: 0.5rem;
}
form > input[type="submit"] {
  width: 25%;
  margin: 0.5rem;
  margin-right: auto;
}


#products {
  display: grid;
  padding: 10px 5px 5px 5px;
}
#products {
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
  margin: auto;
}
#products tbody {
  width: 100%;
}
#products th {
  text-align: center;
}
#productsImgs {
  max-width: 202px;
  max-height: 300px;
  min-width: 100px;
  min-height: 150px;
}


#responses {
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
  margin: auto;
}

#responses tbody {
  width: 100%;
}

#responses th {
  text-align: left;
}

th {
  border-bottom: 3px solid black;
}

@media (max-width: 550px) {
  .column {
    width: 100%;
  }
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  .designColumns {
    flex: 50%;
  }

  .designsGrid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }

  #ourDesigns {
    max-height: 2500px;
    max-width: 200px;
    min-height: 125px;
    min-width: 100px;
    height: auto;
    width: 60%;
  }

  #grid {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5%;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
  }

  nav > .fa-list {
    display: none;
  }

  .designsGrid {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
  }

  #ourDesigns {
    max-height: 250px;
    max-width: 200px;
    min-height: 125px;
    min-width: 100px;
    height: auto;
    width: 60%;
  }

  #grid {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5%;
  }
}

.designColumns {
  flex: 25%;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
  text-align: right;
}
